<configuration>
    <!-- 프로필 정보 불러오기 -->
    <springProperty scope="local" name="PROFILE" source="spring.profiles.active" />

    <!-- 로그 출력 패턴 정의 -->
    <property name="LOG_PATTERN" value="%highlight(%-5level) %cyan(%d{yyyy-MM-dd HH:mm:ss}) %yellow([%thread]) %green([%logger{0}:%line]) - %msg%n" />

    <!-- 콘솔 로그 출력 정의 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 로컬 및 개발 환경 정의 -->
    <springProfile name="local">
        <!-- 콘솔 적용 -->
        <root level="info">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <!-- 운영 환경 정의 -->
    <springProfile name="!local">
        <!-- 로그 설정 정보 불러오기 -->
        <springProperty scope="local" name="INFO_PATH" source="service.log.info.path" />
        <springProperty scope="local" name="ERR_PATH" source="service.log.err.path" />

        <!-- [INFO] 로그 파일 출력 정의 -->
        <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${INFO_PATH}/info.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${INFO_PATH}/info_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <!-- INFO 레벨만 출력 -->
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>INFO</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <!-- [ERROR] 로그 파일 출력 정의 -->
        <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${ERR_PATH}/err.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${ERR_PATH}/err_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <!-- ERROR 레벨만 출력 -->
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <!-- 콘솔, [INFO]로그 파일, [ERROR]로그 파일 적용 -->
        <root level="info">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE_INFO" />
            <appender-ref ref="FILE_ERROR" />
        </root>
    </springProfile>
</configuration>
